@font-face {
  font-family: 'nui_icons';
  src:
    url('fonts/nui_icons.ttf?eg6cwk') format('truetype'),
    url('fonts/nui_icons.woff?eg6cwk') format('woff'),
    url('fonts/nui_icons.svg?eg6cwk#nui_icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="nui-icon-"], [class*=" nui-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nui_icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nui-icon-add:before {
  content: "\e900";
}
.nui-icon-add_circle:before {
  content: "\e901";
}
.nui-icon-analytics:before {
  content: "\e902";
}
.nui-icon-arrow:before {
  content: "\e903";
}
.nui-icon-article:before {
  content: "\e904";
}
.nui-icon-aspect_ratio:before {
  content: "\e905";
}
.nui-icon-assessment:before {
  content: "\e906";
}
.nui-icon-attach_money:before {
  content: "\e907";
}
.nui-icon-brightness:before {
  content: "\e908";
}
.nui-icon-calendar:before {
  content: "\e909";
}
.nui-icon-chat:before {
  content: "\e90a";
}
.nui-icon-close:before {
  content: "\e90b";
}
.nui-icon-credit_card:before {
  content: "\e90c";
}
.nui-icon-database:before {
  content: "\e90d";
}
.nui-icon-delete:before {
  content: "\e90e";
}
.nui-icon-done:before {
  content: "\e90f";
}
.nui-icon-download:before {
  content: "\e910";
}
.nui-icon-drag_handle:before {
  content: "\e911";
}
.nui-icon-drag_indicator:before {
  content: "\e912";
}
.nui-icon-edit:before {
  content: "\e913";
}
.nui-icon-edit_note:before {
  content: "\e914";
}
.nui-icon-empty_dashboard:before {
  content: "\e915";
}
.nui-icon-filter_list:before {
  content: "\e916";
}
.nui-icon-folder:before {
  content: "\e917";
}
.nui-icon-fullscreen:before {
  content: "\e918";
}
.nui-icon-grid_on:before {
  content: "\e919";
}
.nui-icon-headphones:before {
  content: "\e91a";
}
.nui-icon-id_card:before {
  content: "\e91b";
}
.nui-icon-image:before {
  content: "\e91c";
}
.nui-icon-info:before {
  content: "\e91d";
}
.nui-icon-install_desktop:before {
  content: "\e91e";
}
.nui-icon-invert_colors:before {
  content: "\e91f";
}
.nui-icon-key:before {
  content: "\e920";
}
.nui-icon-keyboard:before {
  content: "\e921";
}
.nui-icon-label:before {
  content: "\e922";
}
.nui-icon-layers:before {
  content: "\e923";
}
.nui-icon-location_on:before {
  content: "\e924";
}
.nui-icon-logout:before {
  content: "\e925";
}
.nui-icon-mail:before {
  content: "\e926";
}
.nui-icon-media_folder:before {
  content: "\e927";
}
.nui-icon-menu:before {
  content: "\e928";
}
.nui-icon-monitor:before {
  content: "\e929";
}
.nui-icon-more:before {
  content: "\e92a";
}
.nui-icon-mouse:before {
  content: "\e92b";
}
.nui-icon-my_location:before {
  content: "\e92c";
}
.nui-icon-notifications:before {
  content: "\e92d";
}
.nui-icon-open_in_full:before {
  content: "\e92e";
}
.nui-icon-palette:before {
  content: "\e92f";
}
.nui-icon-pause:before {
  content: "\e930";
}
.nui-icon-person:before {
  content: "\e931";
}
.nui-icon-photo_camera:before {
  content: "\e932";
}
.nui-icon-play:before {
  content: "\e933";
}
.nui-icon-print:before {
  content: "\e934";
}
.nui-icon-public:before {
  content: "\e935";
}
.nui-icon-rainy:before {
  content: "\e936";
}
.nui-icon-save:before {
  content: "\e937";
}
.nui-icon-search:before {
  content: "\e938";
}
.nui-icon-security:before {
  content: "\e939";
}
.nui-icon-settings:before {
  content: "\e93a";
}
.nui-icon-sign_language:before {
  content: "\e93b";
}
.nui-icon-smart_display:before {
  content: "\e93c";
}
.nui-icon-sort:before {
  content: "\e93d";
}
.nui-icon-speaker:before {
  content: "\e93e";
}
.nui-icon-stadia_controller:before {
  content: "\e93f";
}
.nui-icon-star_rate:before {
  content: "\e940";
}
.nui-icon-sticky_note:before {
  content: "\e941";
}
.nui-icon-sync:before {
  content: "\e942";
}
.nui-icon-upload:before {
  content: "\e943";
}
.nui-icon-volume:before {
  content: "\e944";
}
.nui-icon-warning:before {
  content: "\e945";
}
.nui-icon-work:before {
  content: "\e946";
}
.nui-icon-wysiwyg:before {
  content: "\e947";
}
