:root {
	--nui-space: 1rem;
	--nui-space-half: calc(var(--nui-space) / 2);
	--nui-space-quarter: calc(var(--nui-space) / 4);
	--nui-space-double: calc(var(--nui-space) * 2);

	--nui-shade0: light-dark(rgb(0,0,0), rgb(255,255,255));
	--nui-shade1: light-dark(rgb(80,80,80), rgb(220,220,220));
	--nui-shade2: light-dark(rgb(120,120,120), rgb(140,140,140));
	--nui-shade3: light-dark(rgb(180,180,180), rgb(60,60,60));
	--nui-shade4: light-dark(rgb(220,220,220), rgb(50,50,50));
	--nui-shade5: light-dark(rgb(230,230,230), rgb(40,40,40));
	--nui-shade6: light-dark(rgb(240,240,240), rgb(30,30,30));
	--nui-shadeX: light-dark(rgb(255,255,255), rgb(0,0,0));
	--nui-accent: light-dark(rgb(61,131,206), rgb(61,131,206));
	--nui-accent-light: light-dark(rgb(118,173,233), rgb(118,173,233));
	--nui-accent-dark: light-dark(rgb(30,98,170), rgb(30,98,170));
	--nui-transition-duration: 0.15s;
	--nui-transition-timing: ease-in-out;
	--nui-side-nav-width: 10rem;
}
body, html {
	font-size: 14px;
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	font-family: system-ui;
	color: var(--nui-shade1);
	background-color: var(--nui-shade6);
	overflow: hidden;
}

.container {
	max-width: 60rem;
	margin: 0 auto;
	padding: 2rem;
	height: calc(100% - 4rem);
}